package body

templ Header() {
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/static/output.css" rel="stylesheet"/>
    </head>
}

templ Content() {
    <body>
        <h1 class="text-center text-9xl text-red-400">Main</h1>
    </body>
}

templ Page() {
    <html>
        @Header()
        @Content()
    </html>
}