@tailwind base;
@tailwind components;
@tailwind utilities;

/* display: grid;
align-items: center;
justify-items: stretch;
/* box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px */

.all_centered {
    height: 40%;
    display: grid;
    place-items: center;
}

.login_wrapper {
    display: grid;
    align-items: center;
    justify-items: stretch;
    width: 70%;
    height: 60%;
}

@media screen and (min-width: 640px) {
    .all_centered {
        height: 70%;
    }

    .login_wrapper {
        height: 60%;
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    .login_wrapper {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .login_wrapper {
        width: 45%;
    }
}

@media screen and (min-width: 1280px) {
    .login_wrapper {
        width: 30%;
    }
}

@media screen and (min-width: 1536px) {
    .login_wrapper {
        width: 25%;
    }
}

@media screen and (min-width: 1920px) {
    .login_wrapper {
        width: 18%;
    }
}
